<!-- main container -->
<mat-drawer-container class="example-container">

  <!-- Lista Contenido -->
  <mat-drawer mode="side" [opened]="openend" #drawer>

      <mat-list>
      <mat-list-item> Pepper  </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-drawer>
  <!-- Lista Contenido -->

  <!-- contenido -->
  <mat-drawer-content>

    <!-- toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="menu icon" (click)="openend =!openend">
        <mat-icon>menu</mat-icon>
      </button>

      <span>My App</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
<!-- toolbar -->
    <div>
      Contend mus be here
      <button mat-raised-button color="primary" (click)="drawer.toggle()">Open / close</button>
    </div>


  </mat-drawer-content>
  <!-- contenido -->

</mat-drawer-container>
<!-- main container -->
